@charset "UTF-8"

/* Vendors
---------------------------------------------- */
@import "vendors/normalize"
@import "vendors/flex-grid-framework"

/* Colors
---------------------------------------------- */
complementary = #cacaca
paper = #f4f4f4
highlight = #6e5494
winner = #cba90e

/* Global
---------------------------------------------- */
body
	font-family 'Roboto', sans-serif
	background-color complementary

/* header
---------------------------------------------- */
.header
	text-align center
	background-color #000
	background-image url("../img/header-bg.jpg")
	background-repeat no-repeat
	background-position center
	border-top 6px solid highlight
	padding 80px 0

@media screen and (max-width 1000px)
	.header
		background-size auto 100%

@media screen and (max-width 666px)
	.header
		padding 50px 0

.heading-1
	margin 10px 20px
	color #fff
	font-size 48px

@media screen and (max-width 666px)
	.heading-1
		font-size 38px

.heading-2
	margin 0 50px
	color complementary
	font-size 22px
	font-weight 300

@media screen and (max-width 666px)
	.heading-2
		font-size 16px

.featured-text
	margin 60px 0
	color #fff
	font-size 40px
	display block

@media screen and (max-width 666px)
	.featured-text
		font-size 32px

.btn-default
	background-color highlight
	padding 15px 30px
	text-decoration none
	display inline-block
	color #fff
	font-weight 300
	margin 5px
	-webkit-transition background-color .3s
	transition background-color .3s

.btn-default:hover
	background-color #4f3478

/* main
---------------------------------------------- */
.main
	row()
	padding 60px 0

.user
	col(3)
	background-color paper
	text-align center
	margin-top 8px
	margin-bottom 8px

@media screen and (max-width 870px)
	.user
		col(4)

@media screen and (max-width 670px)
	.user
		col(6)

@media screen and (max-width 410px)
	.user
		col(12)

.user a
	text-decoration none
	display block
	padding-top 30px
	-webkit-transition box-shadow .3s
	transition box-shadow .3s

.user a:hover
	-webkit-box-shadow 0px 0px 14px 0px rgba(50, 50, 50, 0.6)
	-moz-box-shadow 0px 0px 14px 0px rgba(50, 50, 50, 0.6)
	box-shadow 0px 0px 14px 0px rgba(50, 50, 50, 0.6)

.user-img-mask
	margin 0px auto 15px auto
	border-radius 50%
	overflow hidden
	position relative
	max-width 120px
	max-height 120px

.user img
	width 110%

.user-name
	color #111111
	display block
	font-size 28px
	margin 5px 0

@media screen and (max-width 1100px)
	.user-name
		font-size 20px

.user-username
	font-weight 300
	color #7c7c7c
	display block
	margin 5px 0

.user-stats
	margin-top 20px
	background-color highlight
	color #fff
	padding 20px 5px
	font-weight 300
	font-size 18px

.streak
	font-weight 700
	font-size 20px

/* footer
---------------------------------------------- */
.footer-up
	background-color paper
	text-align center
	padding 25px 40px

.credits
	color #4b4b4b
	font-size 14px

.credits a
	color #4b4b4b
	text-decoration none
	font-weight 700
	-webkit-transition opacity .3s
	transition opacity .3s

.credits a:hover
	opacity .7

.footer-down
	padding 10px 0
	background-color highlight
	text-align center

.licence
	color #fff
	font-size 16px

.licence a
	color #fff
	text-decoration none
	-webkit-transition opacity .3s
	transition opacity .3s

.licence a:hover
	opacity .7
